/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .top_links{
        display: inline-block;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .header_topline{
        height: 65px;
    }

    .top_links{
        background-color: #585d61;
        display: none;
        margin-top: 10px;
        padding: 14px;
        vertical-align: middle;
        width: 100%;
        position: relative;
    }

    .soc_buttons {
        position: absolute;
        right: 15px;
        top: 0;
    }
    
    .menu{
        height: 54px;
    }
    
    .menu ul{
        display: none;
        position: relative;
        width: 100%;
        background-color: #3797bf;
    }

    .menu li{
        display: block;
    }

    .menu .phone{
        position: absolute;
        top: 0;
        right: 15px;
    }

    .order_text{
        text-align: center;
        margin-bottom: 10px;
    }
    
    .order_button{
        float: none;
        max-width: 250px;
        margin: 0 auto;
    }

    .article_item img{
        margin-bottom: 20px;
    }
    aside{
        margin-bottom: 30px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .phone{
        font-size: 28px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}